@import "variables"
@import "bootstrap"
@import "bootswatch"
@import "font-awesome-sprockets"
@import "font-awesome"

@import "typography"

.navbar .nav > li > a
  font-size: 1.2em

#googlecal
  width: 100%
  height: 600px
#googlemap
  width: 100%
  height: 400px
.icon-bar
  width: 30px
  height: 3px
  background-color: $text-color
  color: white

.teacher
  text-align: center
  i.fa
    font-size: 10em

#social
  font-size: 3em
