
.sidenav
  li.active
    background-color: $gray-lighter

@media (max-width: $screen-md-min)

  .sidenav
    width: 100%
    &.affix-top
      position: fixed
      width: auto
      top: 0

@media (min-width: $screen-md-min)

@media (min-width: $screen-lg-min)
