a
  border-bottom: 1px dotted
  -webkit-transition: color 500ms ease-out 0.2s
  -moz-transition: color 500ms ease-out 0.2s
  -o-transition: color 500ms ease-out 0.2s
  transition: color 500ms ease-out 0.2s
  &:hover
    text-decoration: none
    border-bottom: 1px dotted

nav
  a, a:hover
    text-transform: none
    // text-transform: uppercase
    border: 0


.ampersand
  font:
    family: "cursive"
    size: larger
    style: normal
