#footer
  .container
    .row.footer-first-row
      .col-md-12.text-center
        %p
          %small
            &copy;
            = Date.current.year
            –
            Shung Do Kwan Budo
        %ul.list-inline#social
          %li
            = link_to "<i class='fa fa-twitter'></i> Twitter".html_safe, "https://twitter.com/kendo_in_geneva", id: 'twitter_icon'
          %li
            = link_to "<i class='fa fa-facebook'></i> Facebook".html_safe, "https://www.facebook.com/kendogeneve", id: 'facebook_icon'
          %li
            = link_to "<i class='fa fa-flickr'></i> Flickr".html_safe, "https://www.flickr.com/photos/8469782@N03", id: 'flickr_icon'
