%li
  = link_to "Home".html_safe, root_path, data: {toggle: "tooltip", placement: "bottom"}, title: "Tous les détails concernant notre club"
%li
  = link_to "News", posts_path, data: {toggle: "tooltip", placement: "bottom"}, title: "Les dernières nouvelles"
